#carousel-home .item {
  height: 400px;
  background-color: #ffffff;
}

#carousel-home .item img {
  max-height: 400px;
  position: relative;
  margin: auto;
}

.navbar-nav, .navbar-header{
	font-size: 15px;
	margin-top:10px;
}

.container-fluid
{
	height:60px;
}